*{
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
}
body{
    background-color: greenyellow;
}
.main_container{
    
}
.heading{
    width: 100%;
    padding:15px;
    text-shadow: 2px 1px white,3px 2px 3px black,-1px -1px 3px black;
    animation-name: heading;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.heading h1{
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@keyframes heading {
    0%{
        color:black;
    }
    25%{
        color:green;
    }
    50%{
        color:black
    }
    75%{
        color:red;
    }
    100%{
        color:black;
    }
    
}
.customer_details,.product_details{
    padding:15px;
    padding-top: 20px;
}
.customer_details fieldset,.product_details fieldset{
    border:3px solid black;
}
.customer_details form,.product_details form{
    padding:30px;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 2px 1px black;
    color:white;
    text-align: center;
}
.customer_details form input,.product_details form input,#select{
    padding:5px;
    font-size:20px;
    border: 2px solid black;
    border-radius: 5px;
}
#top{
    margin-left: 20px;
    padding:10px;
    font-size: 25px;
    text-shadow: 1px 1px white;
    font-weight: bold;
    background-color: orange;
    border:3px solid black;
    box-shadow: 2px 2px 5px black;
    cursor:default;
}
#field{
    background-color: blue;
}
.buttonArea button{
    padding:10px;
    font-size: 19px;
    background-color: gold;
    border-radius: 10px;
    cursor: pointer;
    box-shadow:1px 1px 5px black;
}
.buttonArea button:hover{
    background-color:goldenrod;
}