*{
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
}
body{
    background-image:linear-gradient( greenyellow,white,greenyellow);
}
.main_container{
    width: 100%;
}
.heading{
    width: 100%;
    padding:15px;
    text-shadow: 2px 1px white,3px 2px 3px black,-1px -1px 3px black;
    animation-name: heading;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.heading h1{
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@keyframes heading {
    0%{
        color:black;
    }
    25%{
        color:rgb(211, 33, 157);
    }
    50%{
        color:black
    }
    75%{
        color:red;
    }
    100%{
        color:black;
    }
    
}
.customer_details,.product_details{
    padding:15px;
    padding-top: 20px;
}
.product_details #formbody{
    display: block;
    text-align: left;
    margin-left:35%;
    width:100%;
}
.customer_details fieldset,.product_details fieldset{
    border:3px solid black;
}
.customer_details form,.product_details form{
    padding:30px;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 2px 1px black;
    color:white;
    text-align: center;
}
.customer_details form{
    display: flex;
}
.customer_details form input,.product_details form input,#select{
    padding:5px;
    font-size:20px;
    border: 2px solid black;
    border-radius: 5px;
}
#top{
    margin-left: 20px;
    padding:10px;
    font-size: 25px;
    text-shadow: 1px 1px white;
    font-weight: bold;
    background-image: linear-gradient(rgb(255, 145, 0),orange);
    border:3px solid black;
    box-shadow: 3px 3px 10px black;
    cursor:default;
}
#field{
    background-image:linear-gradient( rgb(2, 2, 170),blue,rgb(2, 2, 170));
}
.buttonArea button{
    padding:10px;
    font-size: 19px;
    background-image: linear-gradient(-45deg,gold 50%,rgb(250, 224, 75) 50%);
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right:2px solid black;
    border-bottom: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow:2px 2px 10px black,-1px -1px 5px black;
}
.buttonArea button:hover{
   opacity: 0.9;
}
/*For Mobile*/
@media screen and (max-width:768px){
    .heading h1{
        font-size: 30px;
    }
    .customer_details form{
        display: block;
    }
    .product_details #formbody{
        margin-left: 0;
        
    }
    .customer_details form,.product_details form{
        font-size: 15px;
        text-align: left;
    }
    .customer_details form input,.product_details form input,#select{
        font-size: 13px;
        padding:3px;
        width: 100%;
    }
    #top{
        font-size:20px ;
        padding:7px;
    }
    .buttonArea{
        text-align: center;
    }
    .buttonArea button{
        font-size:15px;
        padding:6px;
    }
}
